/*.rar
/test_akshare.py
/test_fixed.py
/test_pdf_export.py
/test_pe_pb.py
/venv
/__pycache__
# 环境变量文件
.env
/.cursor
/openspec
TradEnv/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/aiagents-stock.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/data/longhubang.db
/data/low_price_bull_monitor.db
/data/main_force_batch.db
/data/portfolio_stocks.db
/data/profit_growth_monitor.db
/data/sector_strategy.db
/data/smart_monitor.db
/data/stock_analysis.db
/data/stock_monitor.db
/migrate_databases.sh
/migrate_databases_by_size.sh
